body,a{
	margin:0px;
	padding:0px;
}
body{
	background-color: rgb(0, 0, 0);
}
a{
	text-decoration: none;
	color:black;
}
/*========
/*=========header==============*/
.header{
	/* border:1px solid red; */
	position: fixed;
	top:0px;
	width:3000px;
	height:70px;
	background-color: rgb(238, 238, 238);
	padding:0px;
	margin:0px;
}
.header .header-img{
	/* border:1px solid red; */
	margin-left:10px;
	vertical-align: middle;
	height: 70px;
	display: inline-block;
	line-height: 70px;
	position: relative;
}
.header .header-img img{
	vertical-align: middle;
}
.header .header-title-list{
	/* border:1px solid red; */
	line-height: 70px;
	font-size:35px;
	vertical-align: middle;
	margin:5px;
	padding:0px;
}
.header .header-title{
	/* border:1px solid blue; */
	font-family:"Times New Roman";
	font-weight:bold;
	color:darkblue;
}
.header #shadow{
	color:deepskyblue;
	margin-left:-162px;
}
.header .header-son-title-list{
	/* border:1px solid beige; */
	line-height: 70px;
	vertical-align: middle;
	font-size:18px;
	margin-left:550px;
}
.header .header-son-title-list .header-son-title{
	/* border:1px solid red; */
	padding-left:10px;
	padding-right:10px;
	margin-left:35px;
	font-style:italic;
	font-weight:bold;
}
.header .header-son-title-list .header-son-title:hover{
	font-size:28px;
	border-radius: 20px;
	background-color: lightblue;
	color:royalblue;
}
.header .header-son-title-list .header-son-title:active{
	color:darkred;
	
}
/*========================*/
.content1{
	/* position: relative; */
	width:1500px;
	height:2000px;
	background-color: rgb(0, 0, 0);
	margin:90px auto 0px;
    border:1px solid red;
    text-align: center;
	font-size:0px;
	/* padding-top:20px; */
	/* padding-right:410px; */
}
.content1 h2{
	font-size: 30px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	color:white;
}
.content1 #input-blk{
	background-color: white;
	margin:0px auto 0px;
	height:110px;
	line-height: 50px;
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	padding:0px;
}
.content1 #input-blk span{
	margin:0px 50px 0px 50px;
	vertical-align: middle;
	/* background-color: aliceblue; */
	display: inline-block;
	height:50px;
}
.content1 #input-blk span input{
	width:50px;
	height:20px;
	vertical-align: middle;
	margin:0px;
	margin-left:20px;
	/* border:0px; */
}
.content1 #input-blk select{
	width:400px;
	height:50px;
	border: 1px solid rgba(39, 38, 38, 0.363);
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
}
/*======================= */
/*======================= */